html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita scroll */
  font-family: Comic Sans MS, sans-serif;
  background-image: url("https://i.postimg.cc/qRnrh50L/Fondo-resolucion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 👈 Hace que la imagen ocupe toda la pantalla */
  position: relative;
  z-index: 1;
}

/* Capa blanca semitransparente encima de la imagen */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1; /* 👈 de verdad detrás de todo el contenido */
}

h1 {
  margin: 10px 0;
  text-align: center;
  color: #000 !important; 
  font-size: 50px;
    }

#calendar {
  width: 95%;
  height: calc(100vh - 100px);
  max-width: 1400px;
  margin: 0 auto;
  background: rgba(255, 255, 255);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.btn-volver {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #3a87ad;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.btn-volver:hover {
  background-color: #2f6f8f;
}

