body {
  font-family: Comic Sans MS, sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  font-size: 18px;
  margin: 30px;
  background-image: url("https://i.postimg.cc/qRnrh50L/Fondo-resolucion.png");
  background-size: cover;       
  background-position: center;    
  background-repeat: no-repeat;   
  position: relative;
  min-height: 100vh;
  
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* color blanco semitransparente */
  z-index: -1; /* queda detrás del contenido */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}

.botonera {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.fila-superior {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.boton-calendario {
  padding: 15px 40px;              /* más grande */
  font-size: 20px;                 /* texto más grande */
  background-color: #3a87ad;       /* color diferente */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.boton-calendario:hover {
  background-color: #2f6f8f;
  transform: scale(1.05);          /* efecto ligero al pasar el ratón */
}

.btn-logout {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-family: 'Fredoka', sans-serif;
  cursor: pointer;
  font-weight: 600;
}
.btn-logout:hover {
  background-color: #b94440;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #87D7D9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;            /* Un poco más gruesa */
  text-transform: uppercase;   /* En mayúsculas */
  letter-spacing: 1px;         
}

button:hover {
  background-color: #609899;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#calendar {
  width: 95%;              /* ocupa casi todo el ancho de la página */
  max-width: 1200px;       /* límite opcional para pantallas grandes */
  margin: 2rem auto;       /* centra el calendario */
  background-color: rgba(255, 255, 255, 0.85); /* fondo blanco semitransparente */
  padding: 1rem;           /* margen interior */
  border-radius: 12px;     /* esquinas redondeadas */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* sombra suave */
}

/* Aumentar el tamaño del texto en el calendario */
.fc {
  font-family: 'Fredoka', sans-serif;
  font-size: 1rem; /* aumenta si quieres más grande */
}