body {
  font-family: Comic Sans MS, sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  font-size: 18px;
  margin: 30px;
  background-image: url("https://i.postimg.cc/qRnrh50L/Fondo-resolucion.png");
  background-size: cover;       
  background-position: center;    
  background-repeat: no-repeat;   
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* color blanco semitransparente */
  z-index: -1; /* queda detrás del contenido */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}

.botonera {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #87D7D9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;            /* Un poco más gruesa */
  text-transform: uppercase;   /* En mayúsculas */
  letter-spacing: 1px;         
}

button:hover {
  background-color: #609899;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#calendar {
  max-width: 900px;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}